<div class="container clearfix shadow-lg p-5 my-5">
    <form action="" method="POST" class="my-5">
        {% csrf_token %}

        <div class="row mt-5">
            <div class="col-6">
                <div class="form-group pt-3">
                    <label for="item-type"><b>Room Number: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-type" name="number" />
                </div>

                <div class="form-group">
                    <label for="item-quantity"><b>Number Of Beds: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-quantity" name="beds" />
                </div>
                <div class="form-group">
                    <label for="item-quantity"><b>Hotel Name:</b></label>
                    <input type="int" class="form-control border border-secondary" id="item-quantity" name="Hotel" />
                </div>
                <div class="form-group">
                    <label for="item-quantity"><b>Price: </b></label>
                    <input type="number" class="form-control border border-secondary" id="item-quantity" name="price" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group pt-3">
                    <label for="item-type"><b>Capacity: </b></label>
                    <input type="number" min="0" class="form-control border border-secondary" id="item-type"
                        name="capacity" />
                </div>

                <div class="form-group">
                    <label for="item-quantity"><b>Room Type(Normal ,Economic ,Luxury ,King ):</b></label>
                    <input type="text" class="form-control border border-secondary" id="item-quantity" name="type" />
                </div>

                
                <!-- <div class="form-group">
                    <label for="item-quantity"><b>Payment method available:</b></label>
                    <input type="text" class="form-control border border-secondary" id="item-quantity" name="payment_method" />
                </div> -->
                <div class="form-group">
                    <label for="item-quantity"><b>Payment Method</b></label>
                    <select name="payment_method" required="" id="item-quantity"
                        class="form-control border border-secondary">

                        <option value="VISA" {% if room.payment_method == 'VISA' %} selected {% endif %}>Visa</option>

                        <option value="Cash" {% if room.payment_method == 'Cash' %} selected {% endif %}>Cash
                        </option>

                        <option value="Visa and Cash" {% if room.payment_method == 'Visa and Cash' %} selected {% endif %}>Visa and Cash
                        </option>
                    </select>
                
                    </div>



                
            </div>
        </div>
        <button type="submit" class="btn btn-success px-4 float-right">
            Add Room
        </button>
    </form>
</div>
<div class="clearfix my-5 py-1">&nbsp;</div>