{%include 'index.html'%}


<h1 style = "text-align: center;">Event Report </h1>
<br><br><br>
{% block context %}
<body>

    <div class="col-8" style="margin: 0 auto;">


        <table Class="table table-striped table-hover">
            <thead class="table-dark"> 
              <tr>
                <th scope="col">Event</th>
                <th scope="col">Attendees</th>
                
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Movie</th>
                
                <td>{{Movie}}</td>
                
              </tr>
              <tr>
                <th scope="row">Theater</th>
                <td>{{Theater}}</td>
             
              </tr>
              <tr>
                <th scope="row">Conference</th>
                <td colspan="2">{{Conference}}</td>
                
              </tr>
              <tr>
                <th scope="row">Concert</th>
                <td colspan="2">{{Concert}}</td>
                
              </tr>
              <tr>
                <th scope="row">Entertainment</th>
                <td colspan="2">{{Entertainment}}</td>
                
              </tr>
              <tr>
                <th scope="row">Live_Music</th>
                <td colspan="2">{{Live_Music}}</td>
                
              </tr>
            </tbody>
          </table>


    </div>
    <br><br><br><br><br>
        <div class="col-8" style="margin: 0 auto;">
          
            


            {% csrf_token %}
            {{ form_crispy }}


    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Movie', 'Theater', 'Conference','Concert','Entertainment','Live_Music'],
        datasets: [{
            label: 'Number of Attendees',
                data:[{{Movie}}, {{Theater}}, {{Conference}},{{Concert}},{{Entertainment}},{{Live_Music}}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderWidth: 1
        }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });

        
    </script>
<br><br><br>
<h4 style="text-align:Center;color: rgb(77, 131, 176);">the total Number of Attendees is  : {{total}}</h4>
 
{% endblock %}
<br><br><br><br><br><br><br><br><br>
</div>

 
</body>