
{%include 'index.html'%}
{% load static %}

<h2>Total Storage Report</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Items</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {%for storage in storage %}
        <th scope="row">{{storage.itemName}}</th>
        
        <td>{{storage.quantitiy}}</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>

<br><br>







  <br><br>
<h2>Total Event Report</h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Items</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {%for attends in attends %}
        <th scope="row">{{attends.event.eventType}}</th>
      
        <td>{{attends.numberOfDependees}}</td>
        </tr>
        {%endfor%}
    </tbody>
  </table>










<!doctype html>
<html lang="en">


<body>
   

                {% csrf_token %}
                {{ form_crispy }}
  <div class="row">
    <div class="col-md-6 my-4">
        <canvas id="myChart" width="100" height="100"></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: [{%for event in event %} '{{ event.eventType}}', {% endfor %}],
            datasets: [{
                label: 'Number of Attendees',
                    data: [{% for attends in attends %} {{ attends.numberOfDependees}}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                        borderWidth: 1
            }]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
            });

            
        </script>

        

</div>
    </div>
</div>
<br> <br> <br><br>
</body>


Total Number Of Bookings :{{Booking_Count}}<br>
Number Of Refund Requests : {{refund_Count}}<br>
Room Type : {%for  room in room %}{{room.roomType}}{%endfor%}<br>


Room attached to evry event : {%for attends in attends %}{{attends.numberOfDependees}}{{x}} = {{x}} + {{attends.numberOfDependees}}<br>{%endfor%} <br>


Events is : {%for event in event %}{{event.eventType}} {%endfor%}<br>

Room Service Type is : {%for roomServices in roomServices %}{{roomServices.servicesType}} {%endfor%}<br>
Total Services is : {{total_services}}

<br><br><br><br><br><br>



