{%include 'index.html'%}


<h1 style = "text-align: center;">Storage Report </h1>
<br><br><br>
{% block context %}
<body>

    <div class="col-8" style="margin: 0 auto;">


        
        <table Class="table table-striped table-hover">
            <thead  class="table-dark">
              <tr >
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  {%for storage in storage %}
                  <th scope="row">{{storage.itemName}}</th>
                  
                  <td>{{storage.quantitiy}}</td>
                  </tr>
                  {%endfor%}
              </tbody>
          </table> 
    </div>
    <br><br><br><br><br>
        <div class="col-8" style="margin: 0 auto;">
          
            


            {% csrf_token %}
            {{ form_crispy }}


    <canvas id="myChart" width="100" height="50"></canvas>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [{%for storage in storage %} '{{storage.itemName}}', {% endfor %}],
        datasets: [{
            label: 'Number of Attendees',
                data: [{% for storage in storage %} {{storage.quantitiy}}, {% endfor %}],
            backgroundColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                    borderWidth: 1
        }]
            },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
        });

        
    </script>

    
{% endblock %}
<br><br><br><br><br><br><br><br><br>
</div>


</body>